@import '@angular/cdk/overlay-prebuilt.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


/* You can add global styles to this file, and also import other style files */
.theme-light {
    --color-primary: #fefefe;
    --color-secondary: #0a0a0a;
    --color-danger: oklch(50.5% 0.213 27.518)
}

.theme-dark {
    --color-primary: #0a0a0a;
    --color-secondary: #fefefe;
    --color-danger: oklch(50.5% 0.213 27.518)
}

.bg-accent {
    background-color: var(--color-secondary);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.mat-danger {
    background-color: oklch(50.5% 0.213 27.518) !important;
    color: #fff !important;
}